# READ FROM GOOGLE SHEETS

In [2]:
import pandas as pd
'''
https://docs.google.com/spreadsheets/d/1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM/edit?usp=sharing
https://docs.google.com/spreadsheets/d/1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM/edit?usp=sharing
https://docs.google.com/spreadsheets/d/1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM/edit?usp=sharing

'''
sheet_id = "1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM"
historical_log_gid = "1508007696"
prog_gid = 0
url= f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv&gid="

pd.set_option('display.max_colum', 50)

#Read Historical Data

df = pd.read_csv(f"{url}{historical_log_gid}", header=None, names=["TimeStamp", "Date_of_Activity", "Activity","Distance","Pace", "Time (moving time)", "HR (bpm)", "Cadence (steps/min)","RPE (1–10 scale)", "Shoe", "Remarks", "Member Name"])
# df.reset_index(inplace=True)





df.head()

df.dtypes

TimeStamp               object
Date_of_Activity        object
Activity                object
Distance               float64
Pace                    object
Time (moving time)     float64
HR (bpm)               float64
Cadence (steps/min)    float64
RPE (1–10 scale)         int64
Shoe                    object
Remarks                 object
Member Name             object
dtype: object

# READ PROGRAM

In [3]:
#PROG READER

prog_df = pd.read_csv(f"{url}{prog_gid}", header=None)
prog_df = pd.read_csv(f"{url}{prog_gid}", header=1)
prog_df = prog_df.iloc([1,2,3])




prog_df.head()

TypeError: unhashable type: 'list'

# DF CLEANUP

In [ ]:
##READ WEEK LOOKUP
import pandas as pd
import datetime as dt


sheet_id = "1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM"
historical_log_gid = "1508007696"
week_lookup_gid = "336401596"
prog_gid = 0
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv&gid="


df_week_lookup = pd.read_csv(f"{url}{week_lookup_gid}", header=None, skiprows=1)
df_week_lookup

#filter only first 2 columns
df2= df_week_lookup[[0,1,2]].copy()
#rename columns
df2.columns = ["Date", "Week_Number", "Scheduled_Activity"]

#clean data columns used for calculations
df2["Date"] = pd.to_datetime(df2["Date"])
df["Date_of_Activity"] = pd.to_datetime(df["Date_of_Activity"])
df["Pace"] = pd.to_timedelta(df["Pace"])

df['Distance'].value_counts()

Distance
5.00     9
3.00     7
4.00     6
12.00    3
3.04     2
        ..
14.20    1
12.21    1
14.01    1
6.52     1
4.54     1
Name: count, Length: 69, dtype: int64

### WEEK LOOKUP

In [ ]:
#lookup of weekname
df_lookuped= df.merge(df2, left_on="Date_of_Activity", right_on="Date", how="left")
df_lookuped.dtypes


# Apply to column


#CALCULATE MOVING TIME
df_lookuped["Moving_Time"] = df_lookuped["Pace"] * df_lookuped["Distance"]

df_lookuped

,TimeStamp,Date_of_Activity,Activity,Distance,Pace,Time (moving time),HR (bpm),Cadence (steps/min),RPE (1–10 scale),Shoe,Remarks,Member Name,Date,Week_Number,Scheduled_Activity,Moving_Time
0,5/5/2025,2025-05-05,30 Mins Easy Run,3.82,0 days 00:09:14,NaN,122.0,160.0,3,Nike Winflo 10,NaN,Aiza,2025-05-05,TRANSITION 1,30 Mins Easy Run,0 days 00:35:16.280000
1,5/6/2025,2025-05-05,30 Mins Easy Run,3.00,0 days 00:08:44,NaN,NaN,NaN,1,NaN,NaN,Fraulein,2025-05-05,TRANSITION 1,30 Mins Easy Run,0 days 00:26:12
2,5/6/2025,2025-05-06,30 Mins Easy Run,3.70,0 days 00:08:16,NaN,133.0,165.0,5,Reebok Float Ride Energy 4,NaN,Aiza,2025-05-06,TRANSITION 1,1k @ Zone 3 /Tempo/ Comfortably Hard,0 days 00:30:35.200000
3,5/8/2025,2025-05-06,20 Mins Easy Run,2.43,0 days 00:08:24,NaN,NaN,NaN,2,NaN,Puyat!,Fraulein,2025-05-06,TRANSITION 1,1k @ Zone 3 /Tempo/ Comfortably Hard,0 days 00:20:24.720000
4,5/8/2025,2025-05-07,Rest,NaN,NaT,NaN,NaN,NaN,1,NaN,LG 😜,Fraulein,2025-05-07,TRANSITION 1,Rest,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,6/7/2025,2025-06-07,12k LSD Road@ Zone 2 Pace,14.01,0 days 00:08:33,NaN,129.0,NaN,7,Nike Winflo 10,"It was a good run… felt pain on my knees, stra...",Aiza,2025-06-07,TRANSITION 5,12k LSD Road@ Zone 2 Pace,0 days 01:59:47.130000
116,6/9/2025,2025-06-09,45 Mins Easy Run,6.52,0 days 00:06:51,NaN,130.0,165.0,3,Boston 12,Testing insole boston 12. Iba yung sumasakit s...,Scott,2025-06-09,TRANSITION 6,30 Mins Easy Run,0 days 00:44:39.720000
117,6/9/2025,2025-06-08,Cross Train,NaN,NaT,NaN,69.0,NaN,1,NaN,Yoga sunday with chona. Mukang recovered naman...,Scott,2025-06-08,TRANSITION 5,Rest,NaT
118,6/9/2025,2025-06-07,12k LSD Road@ Zone 2 Pace,12.00,0 days 00:11:04,NaN,130.0,141.0,7,NB Rebel v3,NaN,Lead,2025-06-07,TRANSITION 5,12k LSD Road@ Zone 2 Pace,0 days 02:12:48
119,6/9/2025,2025-06-04,45 Mins Easy Run,4.54,0 days 00:10:02,NaN,141.0,156.0,7,NB Rebel v3,NaN,Lead,2025-06-04,TRANSITION 5,Rest,0 days 00:45:33.080000

:

# PUSH DATA

#

In [ ]:
import pandas as pd

sheet_id = "1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM"
new_log_gid = "1611308583"
week_lookup_gid = "336401596"


# def push_runner_data():
sheet_id = "1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM"
historical_log_gid = "1508007696"
week_lookup_gid = "336401596"
prog_gid = 0
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv&gid="

pd.set_option("display.max_colum", 50)

# Read Historical Data and adding header names

new_entry = pd.DataFrame(
    {"TimeStamp":1, "Date_of_Activity":2,
        "Activity":"s",
        "Distance":2,
        "Pace":3,
        "Time (moving time)":"q",
        "HR (bpm)":4,
        "Cadence (steps/min)":4,
        "RPE (1–10 scale)":5,
        "Shoe":"test",
        "Remarks":"test",
        "Member Name":"test",
    
})

df_week_lookup = pd.read_csv(f"{url}{week_lookup_gid}", header=None, skiprows=1)

new_entry.to_csv(f"{url}{new_log_gid}",mode='a', header=False)

ValueError: If using all scalar values, you must pass an index

In [ ]:

######DATA CLEANUP######
df_week_lookup = pd.read_csv(f"{url}{week_lookup_gid}", header=None, skiprows=1)

# filter only first 3 columns
df2 = df_week_lookup[[0, 1, 2]].copy()
# rename columns
df2.columns = ["Date", "Week", "Scheduled_Activity"]

# clean data columns used for calculations
df2["Date"] = pd.to_datetime(df2["Date"])

# cleanup main df
df["Date_of_Activity"] = pd.to_datetime(df["Date_of_Activity"], errors="coerce")
df["Pace"] = pd.to_timedelta(df["Pace"])
df["Distance"] = pd.to_numeric(df["Distance"])

# lookup of weekname
df = df.merge(df2, left_on="Date_of_Activity", right_on="Date", how="left")
# Apply to column

# CALCULATE MOVING TIME
df["Moving_Time"] = df["Pace"] * df["Distance"]




# return pd.DataFrame(df)

C:\Users\king.m\AppData\Local\Temp\ipykernel_163784\1818599006.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date_of_Activity"] = pd.to_datetime(df["Date_of_Activity"], errors="coerce")

# new 06102025

### use google sheet api instead and using st.connections()

In [ ]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import streamlit as st
import pandas as pd

def get_gsheet_client():
    scope = [
        "https://spreadsheets.google.com/feeds",
        "https://www.googleapis.com/auth/drive",
    ]
    creds = ServiceAccountCredentials.from_json_keyfile_dict(st.secrets["google_sheets"], scope)
    client = gspread.authorize(creds)
    return client

# READ HISTORICAL LOG
client = get_gsheet_client()
sheet = client.open_by_key("1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM")
#USING for streamlit tab
worksheet = sheet.get_worksheet_by_id(1508007696)  # or use get_worksheet_by_id(gid)
data = worksheet.get_all_values()

# print(pd.DataFrame(data))

df = pd.DataFrame(data)

#RENAME HEADERS#
df.rename(columns={0:"TimeStamp", 1:"Date_of_Activity", 2:"Activity",3:"Distance",4:"Pace", 5:"Time (moving time)", 6:"HR (bpm)", 7:"Cadence (steps/min)",
                   8:"RPE (1–10 scale)", 9:"Shoe", 10:"Remarks", 11:"Member Name"}, inplace=True)

print(df.head(5))

  TimeStamp Date_of_Activity          Activity Distance     Pace  \
0  5/5/2025           5/5/25  30 Mins Easy Run     3.82  0:09:14
1  5/6/2025           5/5/25  30 Mins Easy Run        3  0:08:44
2  5/6/2025           5/6/25  30 Mins Easy Run      3.7  0:08:16
3  5/8/2025           5/6/25  20 Mins Easy Run     2.43  0:08:24
4  5/8/2025           5/7/25              Rest

  Time (moving time) HR (bpm) Cadence (steps/min) RPE (1–10 scale)  \
0                         122                 160                3
1                                                                1
2                         133                 165                5
3                                                                2
4                                                                1

                         Shoe Remarks Member Name
0              Nike Winflo 10                Aiza
1                                        Fraulein
2  Reebok Float Ride Energy 4                Aiza
3                              Puyat!    Fraulein
4                                LG 😜    Fraulein

### READ WEEK LOOKUP NEW 06102025

In [ ]:
client = get_gsheet_client()
sheet = client.open_by_key("1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM")

week_lookup_worksheet = sheet.get_worksheet_by_id(336401596)  # or use get_worksheet_by_id(gid)
week_lookup_data = week_lookup_worksheet.get_all_records()
df2 = pd.DataFrame(week_lookup_data)



# filter only first 3 columns
df2 = df2.iloc[:,0:3]
# rename columns
df2.rename (columns= {"Dates":"Date","WEEK":"Week", "Activity":"Scheduled_Activity"}, inplace = True)

df2.head()
# return pd.DataFrame(df)

               Date          Week                    Scheduled_Activity
0  5/5/2025 0:00:00  TRANSITION 1                      30 Mins Easy Run
1  5/6/2025 0:00:00  TRANSITION 1  1k @ Zone 3 /Tempo/ Comfortably Hard
2  5/7/2025 0:00:00  TRANSITION 1                                  Rest
3  5/8/2025 0:00:00  TRANSITION 1                      30 Mins Easy Run
4  5/9/2025 0:00:00  TRANSITION 1                                  Rest

In [ ]:



df2["Date"] = pd.to_datetime(df2["Date"])
df2.dtypes
# cleanup main df
df["Date_of_Activity"] = pd.to_datetime(df["Date_of_Activity"], errors="coerce")
df["Pace"] = pd.to_timedelta(df["Pace"])
df["Distance"] = pd.to_numeric(df["Distance"])

df.dtypes
# lookup of weekname
df = df.merge(df2, left_on="Date_of_Activity", right_on="Date", how="left")
# Apply to column

# CALCULATE MOVING TIME
df["Moving_Time"] = df["Pace"] * df["Distance"]
print(df.head(5))

  TimeStamp Date_of_Activity          Activity  Distance            Pace  \
0  5/5/2025       2025-05-05  30 Mins Easy Run      3.82 0 days 00:09:14
1  5/6/2025       2025-05-05  30 Mins Easy Run      3.00 0 days 00:08:44
2  5/6/2025       2025-05-06  30 Mins Easy Run      3.70 0 days 00:08:16
3  5/8/2025       2025-05-06  20 Mins Easy Run      2.43 0 days 00:08:24
4  5/8/2025       2025-05-07              Rest       NaN             NaT

  Time (moving time) HR (bpm) Cadence (steps/min) RPE (1–10 scale)  \
0                         122                 160                3
1                                                                1
2                         133                 165                5
3                                                                2
4                                                                1

                         Shoe Remarks Member Name       Date          Week  \
0              Nike Winflo 10                Aiza 2025-05-05  TRANSITION 1
1                                        Fraulein 2025-05-05  TRANSITION 1
2  Reebok Float Ride Energy 4                Aiza 2025-05-06  TRANSITION 1
3                              Puyat!    Fraulein 2025-05-06  TRANSITION 1
4                                LG 😜    Fraulein 2025-05-07  TRANSITION 1

                     Scheduled_Activity
0                      30 Mins Easy Run
1                      30 Mins Easy Run
2  1k @ Zone 3 /Tempo/ Comfortably Hard
3  1k @ Zone 3 /Tempo/ Comfortably Hard
4                                  Rest

C:\Users\king.m\AppData\Local\Temp\ipykernel_163784\3374990238.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date_of_Activity"] = pd.to_datetime(df["Date_of_Activity"], errors="coerce")

# PUSH DATA

In [5]:
client = get_gsheet_client()
sheet = client.open_by_key("1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM")

newsource_worksheet = sheet.get_worksheet_by_id(1611308583)  # or use get_worksheet_by_id(gid)

newsource_worksheet.append_row((["Scott", "2025-06-06", "12km", "01:05:00"])
)
# newsource_data = newsource_worksheet.get_all_records()

for row in worksheet.get_all_values():
    print(row)

# df3 = pd.DataFrame(newsource_worksheet)

NameError: name 'get_gsheet_client' is not defined

# updated read_data - historical + newlog

In [39]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import streamlit as st
import pandas as pd
from datetime import datetime

def get_gsheet_client():
    scope = [
        "https://spreadsheets.google.com/feeds",
        "https://www.googleapis.com/auth/drive",
    ]
    creds = ServiceAccountCredentials.from_json_keyfile_dict(st.secrets["google_sheets"], scope)
    client = gspread.authorize(creds)
    return client

client = get_gsheet_client()
sheet = client.open_by_key("1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM")
# USING "for streamlit" tab - for historical
worksheet = sheet.get_worksheet_by_id(1508007696)  # or use get_worksheet_by_id(gid)
data = worksheet.get_all_values()

df = pd.DataFrame(data)

# RENAME HEADERS#
df.rename(
    columns={
        0: "TimeStamp",
        1: "Date_of_Activity",
        2: "Activity",
        3: "Distance",
        4: "Pace",
        5: "HR (bpm)",
        6: "Cadence (steps/min)",
        7: "RPE (1–10 scale)",
        8: "Shoe",
        9: "Remarks",
        10: "Member Name",
    },
    inplace=True,
)

#######DATA CLEANUP######

# WEEK LOOKUP
client = get_gsheet_client()
sheet = client.open_by_key("1RDIWNLnrMR9SxR6uMxI-BuQlkefXPsGTlaQx2PQ7ENM")
week_lookup_worksheet = sheet.get_worksheet_by_id(
    336401596
)  # or use get_worksheet_by_id(gid)
week_lookup_data = week_lookup_worksheet.get_all_records()

# streamlit_new_source - for new logs
newsource_worksheet = sheet.get_worksheet_by_id(1611308583)
new_source_data = newsource_worksheet.get_all_records()

################################################################
df2 = pd.DataFrame(week_lookup_data)
df3 = pd.DataFrame(new_source_data)
# df3["Pace"] = pd.to_timedelta(df3["Pace"])
# df3["Date_of_Activity"] = pd.to_datetime(df3["Date_of_Activity"], errors="coerce")


# CONCAT HISTORICAL AND NEWLOG
df = pd.concat([df, df3], ignore_index=True)

df

,TimeStamp,Date_of_Activity,Activity,Distance,Pace,HR (bpm),Cadence (steps/min),RPE (1–10 scale),Shoe,Remarks,Member Name
0,2025-05-05,2025-05-05,30 Mins Easy Run,3.82,0:09:14,122,160,3,Nike Winflo 10,,Aiza
1,2025-05-06,2025-05-05,30 Mins Easy Run,3,0:08:44,,,1,,,Fraulein
2,2025-05-06,2025-05-06,30 Mins Easy Run,3.7,0:08:16,133,165,5,Reebok Float Ride Energy 4,,Aiza
3,2025-05-08,2025-05-06,20 Mins Easy Run,2.43,0:08:24,,,2,,Puyat!,Fraulein
4,2025-05-08,2025-05-07,Rest,,,,,1,,LG 😜,Fraulein
...,...,...,...,...,...,...,...,...,...,...,...
132,2025-06-11,2025-06-11,8k LSD Road@ Zone 2 Pace,100,08:45,0,0,1,Boston 12,test again,Fraulein
133,2025-06-11,2025-06-11,11k LSD Road@ Zone 2 Pace,100,08:45,0,0,7,Boston 12,test3,Scott
134,2025-06-11,2025-06-11,10k LSD Road@ Zone 2 Pace,0,08:45,0,0,1,NB Rebel v3,test 4\n,Lead
135,2025-06-11,2025-06-11,10k LSD Road@ Zone 2 Pace,0,08:45,0,0,1,,test,Lead
136,2025-06-11,2025-06-11,,0,08:45,0,0,1,,test,Maxine

In [36]:

df["Date_of_Activity"] = pd.to_datetime(df["Date_of_Activity"], errors="coerce")
df["Distance"] = pd.to_numeric(df["Distance"])

df

,TimeStamp,Date_of_Activity,Activity,Distance,Pace,HR (bpm),Cadence (steps/min),RPE (1–10 scale),Shoe,Remarks,Member Name
0,2025-05-05,2025-05-05,30 Mins Easy Run,3.82,0:09:14,122,160,3,Nike Winflo 10,,Aiza
1,2025-05-06,2025-05-05,30 Mins Easy Run,3.00,0:08:44,,,1,,,Fraulein
2,2025-05-06,2025-05-06,30 Mins Easy Run,3.70,0:08:16,133,165,5,Reebok Float Ride Energy 4,,Aiza
3,2025-05-08,2025-05-06,20 Mins Easy Run,2.43,0:08:24,,,2,,Puyat!,Fraulein
4,2025-05-08,2025-05-07,Rest,NaN,,,,1,,LG 😜,Fraulein
...,...,...,...,...,...,...,...,...,...,...,...
132,2025-06-11,2025-06-11,8k LSD Road@ Zone 2 Pace,100.00,08:45,0,0,1,Boston 12,test again,Fraulein
133,2025-06-11,2025-06-11,11k LSD Road@ Zone 2 Pace,100.00,08:45,0,0,7,Boston 12,test3,Scott
134,2025-06-11,2025-06-11,10k LSD Road@ Zone 2 Pace,0.00,08:45,0,0,1,NB Rebel v3,test 4\n,Lead
135,2025-06-11,2025-06-11,10k LSD Road@ Zone 2 Pace,0.00,08:45,0,0,1,,test,Lead
136,2025-06-11,2025-06-11,,0.00,08:45,0,0,1,,test,Maxine

In [42]:

# filter only first 3 columns
df2 = df2.iloc[:, 0:3]
# rename columns
df2.rename(
    columns={"Dates": "Date", "WEEK": "Week", "Activity": "Scheduled_Activity"},
    inplace=True,
)

df2["Date"] = pd.to_datetime(df2["Date"])

# CONCAT HISTORICAL AND NEWLOG
# df = pd.concat([df, df3], ignore_index=True)
# cleanup main df
df["Date_of_Activity"] = pd.to_datetime(df["Date_of_Activity"], errors="coerce")
df["Pace"] = pd.to_timedelta(df["Pace"])
df["Distance"] = pd.to_numeric(df["Distance"])

# lookup of weekname
df = df.merge(df2, left_on="Date_of_Activity", right_on="Date", how="left")
# Apply to column

# CALCULATE MOVING TIME
df["Moving_Time"] = df["Pace"] * df["Distance"]

ValueError: expected hh:mm:ss format

In [8]:
df

,TimeStamp,Date_of_Activity,Activity,Distance,Pace,Time (moving time),HR (bpm),Cadence (steps/min),RPE (1–10 scale),Shoe,Remarks,Member Name,Timestamp,Date of Activity,Pace (min/km),Date,Week,Scheduled_Activity,Moving_Time
0,5/5/2025,2025-05-05,30 Mins Easy Run,3.82,0 days 00:09:14,,122,160,3,Nike Winflo 10,,Aiza,NaN,NaN,NaN,2025-05-05,TRANSITION 1,30 Mins Easy Run,0 days 00:35:16.280000
1,5/6/2025,2025-05-05,30 Mins Easy Run,3.00,0 days 00:08:44,,,,1,,,Fraulein,NaN,NaN,NaN,2025-05-05,TRANSITION 1,30 Mins Easy Run,0 days 00:26:12
2,5/6/2025,2025-05-06,30 Mins Easy Run,3.70,0 days 00:08:16,,133,165,5,Reebok Float Ride Energy 4,,Aiza,NaN,NaN,NaN,2025-05-06,TRANSITION 1,1k @ Zone 3 /Tempo/ Comfortably Hard,0 days 00:30:35.200000
3,5/8/2025,2025-05-06,20 Mins Easy Run,2.43,0 days 00:08:24,,,,2,,Puyat!,Fraulein,NaN,NaN,NaN,2025-05-06,TRANSITION 1,1k @ Zone 3 /Tempo/ Comfortably Hard,0 days 00:20:24.720000
4,5/8/2025,2025-05-07,Rest,NaN,NaT,,,,1,,LG 😜,Fraulein,NaN,NaN,NaN,2025-05-07,TRANSITION 1,Rest,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,6/11/2025,2025-06-09,60 Mins Easy Run,7.00,0 days 08:42:00,,149,,6,Adidas Pink,longer easy run for today,Chona,NaN,NaN,NaN,2025-06-09,TRANSITION 6,30 Mins Easy Run,2 days 12:54:00
129,6/11/2025,2025-06-11,45 Mins Easy Run,6.36,0 days 06:46:00,,128,164,3,Novablast 5,trying to feel cadence (lloyd can do 170 in 7m...,Scott,NaN,NaN,NaN,2025-06-11,TRANSITION 6,Rest / Strength Training,1 days 19:02:09.600000
130,6/11/2025,2025-06-10,Strength Training,NaN,NaT,,106,,7,,"buhat tuesday, umuulan kasi, lowerbody focused...",Scott,NaN,NaN,NaN,2025-06-10,TRANSITION 6,2k @ Zone 3 /Tempo/ Comfortably Hard,NaT
131,NaN,NaT,8k LSD Road@ Zone 2 Pace,0.00,NaT,NaN,100,100,3,Novablast 3,test,Chona,2025-06-11T14:43:35.139579,2025-06-11,45:00,NaT,NaN,NaN,NaT
132,NaN,NaT,8k LSD Road@ Zone 2 Pace,100.00,NaT,NaN,0,0,1,Boston 12,test again,Fraulein,2025-06-11T14:49:56.506892,2025-06-11,45:00,NaT,NaN,NaN,NaT